---
---

$base-font-weight: 200;
$bold-font-weight: 400;

@import "{{ site.theme }}";

.button {
  background-color: #fff;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #2a7ae2;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover, .button:focus {
  // background-color: #F082AC;
  text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: $bold-font-weight;
}

p img {
  margin: 20px auto;
  display: block;
}

.post-title {
  line-height: 60px;
}

.post-meta {
  text-align: center;
}

article h1, article h2, article h3, article h4 {
  text-align: center;
  padding-top: 20px;
}

table th, table td {
  padding: 5px 15px;
}

.wrapper {
  max-width: 950px;
}

.align-left {
  float: left;
  padding-right: 10px;
}

.text-center {
  text-align: center;
}

.post-content a {
  text-decoration: underline;
  color: #2a7ae2;
}

header.newsletter {
  margin: 0 auto;
  margin-bottom: 60px;
  text-align: center;
}

div.newsletter-link {
  margin: 0 auto;
  margin-bottom: 40px;
}

div.newsletter-link > p{
  text-align: justify;
}

iframe.no-border {
  border: none;
}

/* 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987 */

.site-nav {
  z-index: 99999;
}

.home {
  color: #fff;
  padding-top: 40px;
  text-align: center;

  background-image: linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        ), url("/assets/home-bg.jpg");
  background-position: top center;
  opacity: 0.9;

  min-height: 650px;

  h1 {
    font-size: 3.5em;
  }

  .regions {
    display: flex;
    flex-wrap: wrap;
    .region {
      flex: 25%;
      padding: 10px 0;
      .button {
        width: 200px
      }
    }
  }

}

.region {
  h2 {
    padding-top: 34px;
  }

  .header {
    text-align: center;
  }

  .region-gym {
    @media (min-width: 1025px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .info {
      .title {
          font-weight: $bold-font-weight;
          font-size: 18px;
      }
      padding-top: 20px;
    }
    .structures {
        padding-top: 10px;
        display: flex;
        flex-direction: row;

      .structure {
        text-align: center;
        .image {
          width: 60px;
          i {
            font-size: 24px;
          }
        }
        .title {
          font-weight: $bold-font-weight;
          font-size: 10px;
        }
      }
    }
  }
}

.user {
  h2 {
    padding-top: 34px;
  }

  .header {
    text-align: center;
    .avatar img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-bottom: 20px;
    }
  }
  .contacts {
    padding-top: 20px;
    text-align: center;
    a {
      padding: 0 15px;
    }
  }

  .titles, .gyms {
    .gym {
      .image {
        float: left;
        width: 80px;
        color: #333;
        text-align: center;
        img {
          border-radius: 50%;
          width: 60px;
          height: 60px;
        }
      }
      padding-top: 20px;
      padding-left: 10px;

      .content {
        .title {
          font-weight: $bold-font-weight;
          font-size: 18px;
        }
      }

    }

    .title {
      .image {
        float: left;
        width: 80px;
        font-size: 34px;
        text-align: center;
        color: #333;
      }

      .content {
        .title {
          font-weight: $bold-font-weight;
          font-size: 18px;
        }
      }

      padding-left: 10px;
    }
  }
}


.gym {
  .prices {
    padding-left: 35px;
  }
  .contacts {
    display: flex;
    justify-content: center;



    padding-top: 34px;
    a {
      text-align: center;
      padding: 0 15px;
      font-size: 18px;

      @media only screen and (max-width: 600px) {
        font-size: 25px;
        padding: 0 25px;
      }

      span {
        @media only screen and (max-width: 600px) {
          display: none;
        }
      }
    }
  }
  h2 {
    padding-top: 34px;
  }
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1571649123442-dc0e1965e037?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3570&q=80");
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;

    .text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 25px;
    }
  }

  .structures, .trainers, .rents, .staff {
    .structure, .trainer, .rent, .user {
      .image {
        img {
          border-radius: 50%;
          width: 60px;
          height: 60px;
        }
        float: left;
        width: 80px;
        font-size: 34px;
        text-align: center;
        color: #333;
      }

      .content {
        .title {
          font-weight: $bold-font-weight;
          font-size: 18px;
        }
      }

      padding-top: 20px;
      padding-left: 10px;
    }
  }
}

/* Using 800px as mobile screen in this example */
@media(max-width: 500px) {
  /* Hide the table headings */
  table thead {
    display: none;
  }
  table tr {
      border-bottom: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: center;
  }
  table td {
      border: 0;
      margin: 0 -1px -1px 0; /* Removes double-borders */
  }

  table td:first-child {
    font-weight: bold;
  }
}
