---
---

$base-font-weight: 200;
$bold-font-weight: 400;

@import "{{ site.theme }}";

h1,h2,h3,h4,h5,h6 {
  font-weight: $bold-font-weight;
}

p img {
  margin: 20px auto;
  display: block;
}

.post-title {
  line-height: 60px;
}

.post-meta {
  text-align: center;
}

article h1, article h2, article h3, article h4 {
  text-align: center;
  padding-top: 20px;
}

table th, table td {
  padding: 5px 15px;
}

.wrapper {
  max-width: 950px;
}

.align-left {
  float: left;
  padding-right: 10px;
}

.text-center {
  text-align: center;
}

.post-content a {
  text-decoration: underline;
  color: #2a7ae2;
}

header.newsletter {
  margin: 0 auto;
  margin-bottom: 60px;
  text-align: center;
}

div.newsletter-link {
  margin: 0 auto;
  margin-bottom: 40px;
}

div.newsletter-link > p{
  text-align: justify;
}

iframe.no-border {
  border: none;
}

/* 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987 */

.gym {
  .prices {
    padding-left: 35px;
  }
  .contacts {
    padding-top: 34px;
    text-align: center;
    a {
      padding: 0 15px;
    }
  }
  h2 {
    padding-top: 34px;
  }
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1571649123442-dc0e1965e037?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3570&q=80");
    height: 233px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;

    .text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 25px;
    }
  }

  .structures, .trainers, .rents {
    .structure, .trainer, .rent {
      .image {
        float: left;
        width: 80px;
        font-size: 34px;
        text-align: center;
        color: #333;
      }

      .content {
        .title {
          font-weight: $bold-font-weight;
          font-size: 18px;
        }
      }

      padding-top: 20px;
      padding-left: 10px;
    }
  }
}

/* Using 800px as mobile screen in this example */
@media(max-width: 500px) {
  /* Hide the table headings */
  table thead {
    display: none;
  }
  table tr {
      border-bottom: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: center;
  }
  table td {
      border: 0;
      margin: 0 -1px -1px 0; /* Removes double-borders */
  }

  table td:first-child {
    font-weight: bold;
  }
}
