---
layout: default
---
{% assign gym = page %}
{% assign form_url = site.new_gym_form %}

<div class="gym">
  <div class="header">
    <div class="text">
      <h1>{{ gym.title }}</h1>
    </div>
  </div>

  <div class="contacts">
      {% if gym.phone %}
      <a href="tel:{{gym.phone}}"><i class="fas fa-phone"></i> {{gym.phone}}</a>
      {% endif %}
      {% if gym.website %}
      <a href="{{gym.website}}"><i class="fas fa-globe"></i> {{gym.website}}</a>
      {% endif %}
      {% if gym.email %}
      <a href="emailto:{{gym.email}}"><i class="fas fa-envelope"></i> {{gym.email}}</a>
      {% endif %}
  </div>

  {% if gym.structures %}
  <h2>Cosa troverai</h2>
  <div class="structures">
    {% assign structure_ids = gym.structures | split: "," %}
    {% for structure_id in structure_ids %}
    {% assign structure = site.data.structures[structure_id] %}
      <div class="structure">
        <div class="image">
          <i class="fas {{structure.icon}}"></i>
        </div>
        <div class="content">
          <div class="title">{{structure.title}}</div>
          {{ structure.description }}
        </div>
      </div>
    {% endfor %}
  </div>
  {% else %}
    <h2><a href="{{form_url}}">Conosci che strutture ha questa palestra?</a></h2>
  {% endif %}

  {% if gym.rent %}
  <h2>Cosa puoi noleggiare</h2>
  <div class="rents">
    {% assign rent_ids = gym.rent | split: "," %}
    {% for rent_id in rent_ids %}
    {% assign rent = site.data.rents[rent_id] %}
      <div class="rent">
        <div class="image">
          <i class="fas {{rent.icon}}"></i>
        </div>
        <div class="content">
          <div class="title">{{rent.title}}</div>
          {{ rent.description }}
        </div>
      </div>
    {% endfor %}
  </div>
  {% else %}
    <h2><a href="{{form_url}}">Conosci cosa puoi noleggiare?</a></h2>
  {% endif %}

  <h2>Quanto pagherai</h2>
  <div class="prices">
    <div class="price">
    {% if gym.annual_fee %}
      Quota iscrizione annuale: {{gym.annual_fee}}
    {% else %}
      <a href="{{form_url}}">Conosci quanto costa la quota annuale?</a>
    {% endif %}
    </div>
    <div class="price">
    {% if gym.ingress_price %}
      Ingresso singolo: {{gym.ingress_price}}
    {% else %}
      <a href="{{form_url}}">Conosci quanto costa il singolo ingresso?</a>
    {% endif %}
    </div>
    <div class="price">
    {% if gym.monthly_subscription_price %}
      Abbonmanento mensile: {{gym.monthly_subscription_price}}
    {% else %}
      <a href="{{form_url}}">Conosci quanto costa l'abbonamento?</a>
    {% endif %}
    </div>
  </div>

  <h2>Staff</h2>
  <div class="trainers">
      <div class="trainer">
        <div class="image">
          <i class="fas fa-user"></i>
        </div>
        <div class="content">
          <div class="title"><a href="{{site.new_user_form}}" target="_blank">Sei un istruttore di questa palestra?</a></div>
          Compila il modulo per essere aggiunto alla lista degli istruttori
        </div>
      </div>
  </div>



  <h2>Dove si trova</h2>
  <p>{{gym.address}}, {{gym.city}} - <a target="_blank" href="https://maps.google.com/?ll={{gym.latitude}},{{gym.longitude}}">Ottieni indicazioni <i class="fas fa-car-side"></i></a></p>

  {% if gym.latitude and gym.longitude %}
  <div id='map' style='width: 100%; height: 250px;'></div>
  <script>
    const map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11', // style URL
      center: [{{gym.longitude}},  {{gym.latitude}}],
      zoom: 12
    });
    new mapboxgl.Marker().setLngLat([{{gym.longitude}},  {{gym.latitude}}]).addTo(map);
  </script>
  {% endif %}

  <h2>Commenti e recensioni</h2>


  <div id="disqus_thread"></div>
  <script>
      var disqus_config = function () {
          this.page.url = "{{site.url}}{{page.url}}";
          this.page.identifier = "{{page.slug}}";
      };
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://climbingland.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>
