---
layout: default
---
{% assign region = page %}
{% assign gyms = site.gyms | where: "region", region.title | sort: 'city' %}

<div class="region">
  <div class="header">
    <h1>{{ page.title }}</h1>
  </div>
  {% if region.longitude and region.latitude %}
  <div id='map' style='width: 100%; height: 250px;'></div>
  <script>
    const map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11', // style URL
      center: [{{page.longitude}}, {{page.latitude}}],
      zoom: 7.5,
      interactive: false
    });
    {% for gym in gyms %}
        {% if gym.latitude and gym.longitude %}
          new mapboxgl.Marker()
              .setPopup(new mapboxgl.Popup().setHTML("<div style=\"text-align:center\"><h1><a href=\"{{gym.url}}\">{{gym.title | smartify}}</a></h1>{{gym.address}}, {{gym.city}}</div>"))
            .setLngLat([{{gym.longitude}},  {{gym.latitude}}])
            .addTo(map);
        {% endif %}
    {% endfor %}
  </script>
  {% endif %}

  <div class="region-gyms">
    {% for gym in gyms %}
      <div class="region-gym">
        <div class="info">
          <div class="title">
            <a href="{{ gym.url }}">{{ gym.title }}</a>
          </div>
          <div class="address">{{ gym.address }}</div>
          <div class="address">{{ gym.city }}</div>
        </div>
        {% if gym.structures %}
        <div class="structures">
          {% assign structure_ids = gym.structures | split: "," %}
          {% for structure_id in structure_ids %}
          {% assign structure = site.data.structures[structure_id] %}
            <div class="structure">
              <div class="image">
                <i class="fas {{structure.icon}}"></i>
              </div>
              <div class="title">{{structure.title}}</div>
            </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>

    {% endfor %}
  </div>

</div>

{{ content }}
