name: Deploy to GitHub pages
env:
  AIRTABLE_API_KEY: ${{ secrets.AIRTABLE_API_KEY }}
on:
  push:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run a multi-line script
        run: |
          echo test the checkout action,
          ls -a
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
          cache: 'pip'
      - run: pip install -r requirements.txt
        working-directory: .github
      - run: |
          python import.py
          python import_users.py
        working-directory: .github
      - uses:  helaili/jekyll-action@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
